@import '../styles/globals.css';

@layer base {
  :root {
    @apply font-mono;
  }

  body {
    @apply h-screen w-screen m-0 p-0 bg-background;
  }
}

body {
  font-family: monospace, BlinkMacSystemFont, 'SF Pro Display', system-ui,
    sans-serif;
  margin: 0;
  padding: env(safe-area-inset-top, 16px) env(safe-area-inset-right, 16px)
    env(safe-area-inset-bottom, 16px) env(safe-area-inset-left, 16px);
  overscroll-behavior: none;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  height: 100vh;
  height: 100dvh;
}

/* * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
} */

/* html {
  -webkit-text-size-adjust: 100%;
} */
